.Home {
    
    &__diff {
        display: block;
        width: 90%;
        max-width: 900px;
        margin: 1rem auto 0 auto;
        padding: 1rem 2rem;
        border: 1px solid var(--ion-color-primary);
        border-radius: 4px;
    }
    &__select-container, &__input-title {
        display: block;
        margin: auto;
        width: fit-content;
    }
    &__input {
        width: 90%;
        margin: .5rem auto;
        border: 1px solid var(--ion-color-primary);
        border-radius: 4px;
        padding: 1rem 2rem;
    }

}